
html {  
    box-sizing: border-box; 
   }

*, ::before, ::after {
    box-sizing: inherit;
   }

body {
 
    background: #f0f2f5;
    font-family: Arial,sans-serif;
    margin: 24px 29px;
    
}
   
.card-news {    /* разделитель между слвоами это дефис. это блок*/
    background-color: #fff;
    border-radius:0 0 5px 5px; 
    box-shadow: 0px 2px 0px 0px rgba(1, 1, 1, 0.06);
    width: 300px;  
    }

.card-news__content-centering{
    justify-content: center; /*центрируем элемент по горизонтали */
    align-items: center; /* и вертикали */
    overflow: hidden; /*если элемент больше блока-родителя – обрезаем лишнее   */
    height: 170px; 
    width: 300px;
    border-radius:5px 5px 0 0 ; 
    background-color: #aab2bd;
    }

.card-news__information{
    width: 301px;
    padding: 22px 22px 16px; 
 }

.card-news__title{  /* это элемент блока cart-news */
    font-size: 18px;
    font-weight:400;
    color:#434a54;
    margin-bottom: -6px;     
}

.card-news__content{
    font-size: 13px;
    color: rgb(170, 178, 189);
    line-height: 20px;  
}

.card-news__icons {
    padding-top: 8px; /*двигаю иконки вниз*/
}
.card-news__info::before{
    content:'';
    display: inline-block;
    height: 16px;
    width: 16px;
    background-image: url(../img/article-card.png);   
}

.card-news__info--icon_time::before {
    background-position: -50px -338px;
}
.card-news__info--icon_msg::before {
    margin-left: 10px; /* двигаю иконку сообщения*/
    background-position: -121px -338px;
}

.card-news__text-for-icon{
    vertical-align: text-top;
    font-size:11px;
    color: rgba(170, 178, 189, 0.6);
 }
 