@import url("https://fonts.cdnfonts.com/css/evogria?styles=15179");
@import url("https://fonts.cdnfonts.com/css/bebas-neue?styles=17623");
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: 'Bebas Neue', cursive;
  font-size: 24px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  background-image: url(../img/illustration.png);
  background-color: rgba(226, 91, 136, 0.9);
}

.container {
  margin: 0 auto;
  max-width: 1110px;
  padding-top: 160px;
  padding-bottom: 140px;
}

.products__title {
  font-family: 'Evogria', sans-serif;
  text-align: center;
  font-size: 48px;
  margin-bottom: 81px;
}

.products__items {
  display: flex;
  position: relative;
}
.products__items::after {
  content: '';
  background-image: url(../img/doska2.png);
  width: 100%;
  height: 21px;
  position: absolute;
  vertical-align: middle;
  top: 84px;
  bottom: 0;
  margin: auto 0;
}

.products__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 8px;
  margin-left: 8px;
  padding-bottom: 40px;
  background-image: linear-gradient(transparent 40%, rgba(0, 0, 0, 0.12) 70%);
  background-position: center;
  background-size: cover;
  width: 280px;
  z-index: 0;
  position: relative;
  margin-right: 30px;
}

.products__item:last-child {
  margin-right: 8px;
}

.products__item-title {
  font-size: 36px;
  margin-bottom: 20px;
}

.products__item-img {
  margin-bottom: 36px;
}

.products__item-info-title {
  margin-bottom: 20px;
}

.products__item-info-price {
  font-size: 60px;
  position: relative;
  padding-left: 18px;
  margin-bottom: 20px;
}
.products__item-info-price::after {
  content: '19.00$';
  font-size: 24px;
  position: absolute;
  text-decoration: line-through;
}

.products__item-info-buy {
  padding: 10px 0 4px 14px;
  margin: 0 18px;
  width: 60px;
  position: relative;
  border-bottom: 3px solid #fff;
}
.products__item-info-buy ul {
  top: 35px;
  left: -40px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.004);
  width: 106px;
  height: 186px;
  padding: 24px;
  overflow-y: scroll;
}
.products__item-info-buy ul::-webkit-scrollbar {
  width: 3px;
}
.products__item-info-buy ul::-webkit-scrollbar-thumb {
  border-width: 1px 1px 1px 2px;
  border-color: inherit;
  background-color: inherit;
}
.products__item-info-buy li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 35px;
}
.products__item-info-buy li:hover {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 59;
}

.jq-selectbox__trigger-arrow {
  position: absolute;
  background-image: url(../img/arrow.png);
  width: 12px;
  height: 7px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  top: 6px;
  left: 23px;
  cursor: pointer;
}

.btn-buy {
  background-color: transparent;
  border: none;
  padding: 8px 16px 20px 15px;
  border-radius: 23px;
  border: 3px solid #fff;
  display: inline-block;
  outline: none;
  width: 61px;
  height: 47px;
}
.btn-buy:hover {
  transition: all 0.5s;
  background-color: #ff8b24;
}

.slider {
  background-position: center;
  max-height: 690px;
  overflow: hidden;
}

.slider__item-content {
  text-align: center;
  max-width: 305px;
  margin: 0 auto;
}
