*,
*::after,
*::before{
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
body{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #303030;
}
.container{
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.container-fluid{
  max-width: 1720px;
  margin: 0 auto;
  overflow: hidden;
}

.header__inner,
.footer__inner{
  display: flex;
  justify-content: space-between;
  height: 115px;
  align-items: center;
}

.header__text{
  margin-right: auto;
  margin-left: 30px;
  color: #9a9a9a;
  font-size: 16px;
}

.header__phone,
.footer__phone{
  font-weight: 500;
  font-size: 20px;
}
.header__phone a,
.footer__phone a{
  color: #303030;
  text-decoration: none;
  position: relative;
}
.header__phone a::before,
.footer__phone a::before{
  content: '';
  background-image: url(../images/phone.svg);
  width: 15px;
  height: 15px;
  position: absolute;
  left: -27px;
  top: 5px;
}
.header__phone-text,
.footer__phone-text{
  font-weight: 400;
  font-size: 12px;
  color: #9a9a9a;
  text-align: right;
  padding-top: 3px;
}
.footer__link{
  color:#9a9a9a;
  font-size: 12px;
  line-height: 12px;
  border-bottom: 1px solid #9a9a9a;
}

.top{
  margin-bottom: 75px;
}
.top__images{
  background-image: url(../images/top-bg.jpg);
  min-height: 545px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  max-width: 1720px;
  margin: 0 auto;
}
.top__wrapper{
  margin-top: -450px;
}
.top__inner{
  display: flex;
  justify-content: space-between;
}
.top__inner-img{
  margin-left: 125px;
}
.top__inner-form{
  max-width: 570px;
  width: 100%;
}
.top__inner-suptitle{
  margin-top: 70px;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 2px;
}
.top__inner-title{
  line-height: 60px;
  font-size: 60px;
  margin-bottom: 40px;
  font-weight: 600;
  color: #fff;
}
.top__inner-text{
  margin-bottom: 73px;
  color: #fff;
  font-size: 18px;

}
.top-form{
  background-color: #fff;
  padding: 20px;
}
.top-form form{
  border: 1px solid #c8dcba;
  position: relative;
}
.top-form__inner{
  padding: 50px 50px 118px 50px;
}
.top-form__title{

  font-size: 14px;
  letter-spacing: 1px;
  margin-bottom: 35px;
  font-weight: 700;
  text-transform: uppercase;
  width: 190px;
}
.top-form input{
  border: none;
  padding-top: 14px;
  padding-bottom: 14px;
  border-bottom: 1px solid #c8dcba;
  outline: none;
  font-size: 14px;
  color: #000;
  font-weight: 400;
  width: 195px;
}
.top-form input + input{
  margin-left: 30px;
}
.mobile_link-btn{
  display: none;
}
.top-form input::placeholder{
  color: #c8dcba;
}

.top-form button{
  position: absolute;
  right: 0;
  bottom: 0;
}
.form__btn{
  padding: 22px 110px 22px 70px;
  border: none;
  outline: none;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  background-color: #7eb252;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
}
.form__btn::after{
  content: '';
  background-image: url(../images/arrow-right.png);
  width: 31px;
  height: 9px;
  position: absolute;
  right: 60px;
  top: 25px;
}
/* .top-form button:after{

} */
.advantages{
  margin-bottom: 200px;
}
.advantages__inner{
  display: flex;
  justify-content: space-around;
}
.advantages__item{
  width: 240px;
  padding-left: 40px;
  padding-top: 35px;
  position: relative;
}
.advantages__item::before{
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 5px solid rgba(126,178,82, .3);
  top: 0;
  left: 0;
}
.advantages__item-number{
  color: #a4c58c;
  font-size: 18px;
  font-weight: 600;
  border-bottom: 3px solid #a4c58c;
  display: inline-block;
}
.advantages__item-number span{
  font-size: 30px;
}
.advantages__item-text{
  padding-top: 20px;
}

.list__title{
  font-weight: 700;

  font-size: 40px;
  line-height: 50px;
  max-width: 470px;
  margin-bottom: 30px;
}
.tabs__content{
  margin-top:-130px;
  min-width: 500px;
  height: 689px;
  background-image: url(../images/list-images.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.list__inner{
  display: flex;
  justify-content: space-between;
  background-color: #f6f9f3;
  position: relative;
  padding-bottom: 30px;
}
.list__inner::after,
.list__inner::before {
  content: '';
  position: absolute;
  height: 100%;
  top:0;
  width: 100%;
  background-color: #f6f9f3;
}

.list__inner::before {
  right: 100%;
}
.list__inner::after {
  left: 100%;
}
.tabs{
  padding-right: 20px;
  width: 100%; 
}
.tab{
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  padding: 24px 40px 24px 0;
  border-bottom: 1px solid #e6efde;
  text-transform: uppercase;
  cursor: pointer;
}
.tab.active {
  position: relative;

}

.tab.active ::after {
  content: "";
  position: absolute;
  right: 0;
  background-image: url(../images/shevron.svg);
  width: 8px;
  height: 13px;
 
}
.tab span{
  color: #a4c58c;
  margin-right: 18px;
}
.tab-item{
  display: none;
  font-weight: 700;
  font-size: 12px;
  color: #fff;
  width: 43px;
  height: 43px;
  border: 9px solid rgba(255,255,255,.8);
  border-radius: 50%;
  position: absolute;
  text-align: center;
}
.tab-item:first-child{
  display: block;
}
.item-1{
  left: 150px;
  top: 130px;
}
.item-2{
  left: 310px;
  top: 220px;
}
.item-3{
  left: 227px;
  top: 15px;
}
.item-4{
  left: 227px;
  top: 210px;
}
.item-5{
  left: 227px;
  top: 15px;
}
.item-6{
  left: 259px;
  bottom: 200px;

}
.item-7{
  left: 257px;
  top: 120px;
}
.item-8{
  left: 227px;
  top: 210px;
}
.item-9{
  left: 227px;
  top: 95px;
}
.tabs__box {
  display: flex;
  flex-wrap: wrap;
}
.tabs__box .tab {
  font-size: 16px;
  font-weight: 400;
  width: 50%;
  text-transform: none;
  display: flex;
  align-items: center;
}

.tabs__box .tab span {
  font-size: 12px;
}
.tabs__box .tab:first-child,
.tabs__box .tab:nth-child(3) {
  border-right: 1px solid #e6efde;
  padding-right: 25px;
}

.tabs__box .tab:last-child,
.tabs__box .tab:nth-child(2) {
  padding-left: 25px;
}

.tabs__reviews {
padding-bottom:0;
background-color: #f6f9f3;
max-width: 430px;
position: absolute;
bottom: -10px;
}
.tabs__reviews-inner {
  border:1px solid #c5dab5;
  padding: 30px 45px;
  min-height: 116px;
}
.tabs__reviews-link{
font-size: 14px;
font-weight: 600;
color:#7eb152;
position: absolute;
bottom:-10px;
background-color: #f6f9f3;
padding: 0 8px 0 2px;

}
.mobile__bg{
  display: none;
}
.list__link {
  display: flex;
  justify-content: flex-end;
}
.list__link a {
  margin-top: 20px;
  font-size: 14px;
  font-weight: 900;
  color:#fff;
  text-transform: uppercase;
  padding: 22px 100px 22px 120px;
  position: relative;
  background-color: #7eb252;
  min-width: 500px;

}
.list__link a::after{
  content: '';
  background-image: url(../images/arrow-right.png);
  width: 31px;
  height: 9px;
  position: absolute;
  right: 100px;
  top: 30px;
}
.popularity {
  padding-top: 200px;
}
.popularity__wrapper{
  background-image: url(../images/popularity-girl.jpg);
  background-repeat: no-repeat;
  min-height: 645px;
}
.popularity__inner{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.popularity__right{
  width: 100%;
  max-width: 500px;
  padding-right: 26px;
}
.popularity__right-title {
  font-weight: 700;
  font-size: 40px;

  margin-top: 55px;
  line-height: 50px;
}
.popularity__right-subtitle{

  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.5;
  text-transform: uppercase;
  padding: 50px 0px;
}
.popularity__right-list  {
  list-style: none;
}
.popularity__right-list li{
  margin-bottom: 45px;
  padding-left: 40px;
  position: relative;
}
.popularity__right-list li::before{
 content: '';
 position: absolute;
 left: 0;
 width: 8px;
 height: 13px;
 background-image: url(../images/shevron.svg);
 top: 50%;
 transform:translateY(-50%);
}
.popularity__box{
  background-color: #fff;
  padding: 20px;
  
}
.popularity__box-text{
  padding: 30px;
  border: 1px solid #c8dcba;
  margin-right: 70px;
}
.popularity__box-link,
.composition__link-btn,
.reviews__link-popub,
.build__link,
.certificate__link,
.mobile_link-btn{
  background-color: #7eb152;
  text-transform: uppercase;
  color:#fff;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 22px 85px 22px 27px;
  position: absolute;
}
.popularity__box-link::after,
.composition__link-btn::after,
.reviews__link-popub::after,
.build__link::after,
.certificate__link::after,
.mobile_link-btn::after{
  content: '';
  background-image: url(../images/arrow-right.png);
  width: 31px;
  height: 9px;
  position: absolute;
  right: 30px;
  top: 30px;
}
.history{
  padding-top: 270px;
  margin-bottom: 200px;
}
.history__wrapper{
  background-image: url(../images/alonco.jpg);
  background-repeat: no-repeat;
  background-position: right center;
  min-height: 920px;
}
.history__title{
padding: 80px 0px 40px;
font-size: 40px;
line-height: 50px;
font-weight: 700;
max-width: 570px;

}
.history__text{
  background-color: #f6f9f3;
  padding:42px 30px 65px 0;
  max-width: 700px;
  position: relative;
  
} 
.history__text::before{
  content:'';
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #f6f9f3;
  right: 100%;
  top:0;
}
.history__text p {
  margin:15px 0;
}
.history__form {
  max-width: 400px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 200px;
  font-weight: 700;

}
.history__form-title {
margin: 35px 0px 20px;
font-size: 14px;
text-transform: uppercase;
}
.history__form input {
  border:none;
  outline:none;
  border-bottom: 1px solid #c8dcba;
  height: 34px;
  display: block;
  width: 100%;
  font-size: 14px;
}
.history__form input::placeholder{
  color:#a8c48c;
}
.history__form button {
  margin-top: 30px;
  width: 100%;
}
.quote {
  min-height: 620px;
  background-position: center top;
  background-size: cover;
  background-image: url(../images/water.png);
}
.quote__wrapper {
  padding: 150px 0px 100px;
}
.quote__inner{
  max-width: 770px;
  border-top:1px solid #7eb252;
  border-bottom:1px solid #7eb252;
  text-align: center;
  margin: 0 auto;
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  padding: 50px 0;
  background-color: rgba(255,255,255,.3);
}
.author{
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  margin-top: 40px;
}
.author span{
  font-size: 16px;
  color:#9a9a9a;
}
.items__title{
  padding: 100px 0;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  max-width: 525px;
}
.items__wrapper{
  background-color: #f6f9f3;
  min-height: 385px;
}
.items__inner{
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background-color: #fff;
  max-width: 1110px;
  margin: 0 auto;
  position: relative;
  top:-70px;
}
.item{
  width: 312px;
  min-height: 312px;
  border:1px solid #e4eddc;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item__number{
  position: absolute;
  font-weight: 900;
  font-size: 150px;
  color:#f7f9f3;
  line-height: 115px;
  left: 50%;
  top: 30%;
  transform: translate(-50%,-50%);
}
.item__content{
  top:50px;
  position: relative;
  text-align: center;
}
.item__content-img{
  margin-bottom: 30px;
}
.item__content-title{
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: 0.5;
  text-transform: uppercase;
  padding: 0 10px 10px;
}
.composition__row{
  display: flex;
  justify-content: space-between;
  flex-wrap:wrap; 
}
.composition__item{
  /* background-color: #f6f9f3; */
  margin-bottom: 30px;
}
.composition__item-inner{
  width: 270px;
  height: 270px;
  position: relative;
  display: flex;
  justify-content: center;
  
}
.composition__item-inner span {
  opacity: .6;
  font-size: 310px;
  font-weight: 700;
  color: #cedfc0;
  z-index: 0;
  position: absolute;
  top:120px;


}
.composition__item-secret{
  max-width: 150px;
  padding-top: 120px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.5px;
  z-index: 1;
}
.composition__item-inner-num,
.composition__item-name{
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color:#a4c58c;
  letter-spacing: 0.3px;
  position: absolute;
  transform: rotate(-90deg);
}
.composition__item-inner-num{
  top: 20px;
  left: -7px;
}
.composition__item-name{
  font-weight: 400;
  right: 28px;
  bottom:13px;
  width: 0;
  white-space: nowrap;
  height: 0;

}
.composition__item-effect{
  opacity: 0;
  width: 100%;
  position: absolute;
  right: 20px;
  top: 20px;
  bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../images/comp-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: all .3s;
}
.composition__item-text{
  color:#fff;
  padding: 5px;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
}
.composition__item-inner:hover .composition__item-effect{
  opacity: 1;
}
.composition{
padding: 180px 0px 100px;
}
.composition__box{
 
  max-width: 560px; 
  padding-left: 70px;
  padding-right: 50px;
}
.composition__title{
  margin-top: -60px;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 30px;
}
.composition__box-list{
  list-style: none;
}
.composition__box-list li{
  line-height: 22px;
  padding-left: 22px;
  position: relative;
  margin-bottom: 25px;
}
.composition__box-list li::before{
  content: '';
  position: absolute;
  left:0;
  top:5px;
  background-color:#7eb152;
  width: 7px;
  height: 7px;
  border-radius: 50%;
}
.composition__link{
  border:1px solid #c8dcba;
  padding: 54px 200px 105px 58px;
  max-width: 820px;
  position: relative;
  height: 100%;
  
}
.composition__link-text p{
  list-style: none;
  line-height: 22px;
  margin-bottom: 15px;
  padding-left: 25px;
  position: relative;

}

.composition__link-text p::before{
  content: '';
  position: absolute;
  left:0;
  top:5px;
  background-color:#7eb152;
  width: 7px;
  height: 7px;
  border-radius: 50%;
}

.composition__link-btn{
  background-color: #7eb152;
  text-transform: uppercase;
  color:#fff;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 22px 85px 22px 27px;
  position: absolute;
  bottom: 0;
  right: 0;
}
.reviews__title{
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  margin-bottom: 40px;
}
.reviews__tab{
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #c3c3c3;
  display: inline-block;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 0.5px;
  padding: 25px 40px 25px 70px;
}




.reviews__tab.active{
  color: #7eb152;
  background-color: #f6f9f3;
  
  
}
.reviews__tab+.reviews__tab{
  margin-left: 130px;
}
.reviews__content{
  background-color: #f6f9f3;
}
.reviews__content-item{
  display: none;
}
.reviews__text-box{
  padding-top: 50px;
  padding-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.reviews__text{
  padding: 20px 0px 50px;
  color:#9a9a9a;
  max-width: 570px;
  width: 100%;
  position: relative;
}
.reviews__text:nth-child(odd){
  padding-left: 70px;
  padding-right: 20px;
}
.reviews__text:nth-child(odd)::before{
  left:70px;
}
.reviews__text:nth-child(even){
  padding-right: 70px;
}
.reviews__text::before{
  content: "";
  width: 30px;
  height: 3px;
  background-color: #a4c58c;
  position: absolute;
  left: 0;
  top: 0;
}
.reviews__text span{
  font-weight: 700;
  display: block;
  color:#303030;
  padding-top: 20px;
}
.reviews__content-item:first-child{
  display: block;
}
.reviews__link{
display: flex;
justify-content: flex-end;
align-items: center;
padding-top: 20px;
margin-bottom: 200px;
}
.reviews__link-tab{
  color:#7eb152;
  font-size: 14px;
  margin-right: 80px;
  border-bottom: 1px solid #7eb152;
  line-height: 14px;
  font-weight: 700;
}
.reviews__link-popub{
  position: relative;
}
.build__wrapper{
  padding: 60px 55px;
  background-image: url(../images/build.jpg);
  background-position: left center;
  background-repeat: no-repeat;
  min-height: 700px;
  
}
.build__content{
  display: flex;
  justify-content: flex-end;
}
.build__inner{
  padding: 20px;
  max-width: 685px;
}
.build__inner-box{
  border: 1px solid #c8dcba;
  padding:60px 45px 70px 70px;
  background-color: #fff;
}
.build__title {
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 40px;
}
.build__text p {
  margin: 10px 0;
}
.build__text span{
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.5px;
  line-height: 20px;
  font-weight: 700;
  margin: 30px 0  50px;
  display: inline-block;
}
.build__link {
  position: relative;
}
.build__link::after{
  top:26px;
}
.certificate{
  padding-top:215px;
 
}
.certificate .container-fluid{
  overflow: visible;
}
.certificate__title{
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
}
.certificate__wrapper{
  padding: 30px 0 0;
  background-color: #f6f9f3;
}
.certificate__inner{
  display: flex;
  height: 560px;
}
.certificate__content{
  max-width: 670px;
  margin-right: 60px;
  padding-left: 70px;
}
.certificate__text{
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 35px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  padding-right: 85px;
}
.certificate__images{
  position: relative;
  top:-203px;
}
.certificate__box{
  background-color: #fff;
  padding: 16px 20px 20px 20px;
}
.certificate__box fieldset{
  border:1px solid #c8dcba;
  padding: 45px 45px 100px 50px;
  position: relative;
}
.certificate__box legend{
  text-transform: uppercase;
  font-size: 14px;
  color:#a4c58c;
  padding:0 8px;
}
.certificate__box p {
  margin: 0px 0px 10px;
  line-height: 22px;
}
.certificate__link{
  bottom: 0;
  right: 0;
  max-width: 350px;
  padding: 18px 85px 18px 60px;
}
.certificate__link::after{
  top:27px;
}
