* {
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 105px;
}
.header__text {
  margin-right: auto;
  margin-left: 30px;
  font-size: 16px;
  color: #9a9a9a; 
}
.header__phone a::before {
  content: "";
  background-image: url(../images/phone.svg);
  width: 15px;
  height: 15px;
  color: #595959;
  position: absolute;
  left: -28px;
  top:5px;
}
.header__phone a {
  font-size: 20px;
  font-weight: 500;
  color:#303030;
  position: relative;
}
.header__phone-text {
  font-weight: 400;
  font-size: 12px;
  color:#9a9a9a;
  text-align: right;
  line-height: 18px;
  padding-top: 3px;
}
.top {
  margin-bottom: 75px;
}
.top__images{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: url(../images/top-bg.jpg);
  min-height: 545px;
  max-width: 1720;
  margin: 0 auto;
}
.top__wrapper {
  margin-top: -450px;
}

.top__inner {
  display: flex;
  justify-content: space-between;
}
.top__inner-img {
  margin-left: 125 px;
}
.top__inner-form {
  max-width: 570px;
  width: 100%;
}
.top__inner-suptitle {
  margin-top:80px;
  margin-bottom: 25px;
  font-size: 14px;
  color:#fff;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.top__inner-title {
  font-size: 60px;
  font-weight: 600;
  color:#fff;
  margin-bottom: 40px;
}
.top__inner-text {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color:#fff;
  margin-bottom: 90px;
}
.top-form {
  background-color: #fff;
  padding: 20px;
 
}
.top-form form {
  border: 1px solid #c8dcba;
}
.top-form__inner {
  padding: 50px 50px 116px 50px;
}
.top-form__title {
  width: 200px;
  margin-bottom: 35px;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color:#303030;
  letter-spacing: 1px;
  line-height: 22px;
}
.top-form input + input{
  margin-left: 30px;
}
.top-form input {
  border:none;
  padding-top:14px;
  padding-bottom:14px;
  border-bottom: 1px solid #c8dcba;
  outline:none;

}
.top-form input::placeholder {
  font-size: 14px;
  columns: #a8c48c;
  font-weight: 400; 
}
form {
  position: relative;
}
.top-form button {
  position: absolute ;
  right: 0;
  bottom: 0;
  padding: 22px 110px 22px 76px;
  background-color:#7eb252;
  border:none;
  outline: none;
  font-size: 14px;
  font-weight: 700;
  color:#fff;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.top-form button::after {
  content: "";
  background-image: url(../images/arrow-right.png);
  width: 31px;
  height: 9px;
  color: #595959;
  position: absolute; 
  right: 60px;
  top: 25px;
}