html {  
    box-sizing: border-box; 
   }

*, ::before, ::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
   }

   html, body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    width: 100%;
}
  .wrapper {
      
      width: 20rem;
      height: auto;
      background-color: #f0f2f5;
      /* margin-right: 8px;
      margin-left: 8px; */
  } 



/* header  */
  .menu {
    background-color: #fff;
    
  }
  .logo {
      display:flex;
      align-items: center;   
      text-decoration: none;
      padding: 8px; 
  }
  .logo__title {
      width: 80px;
      font-size: 16px;
      text-transform: uppercase;
      font-weight: 700;
      color:#8cc152;
      font-style:italic;
      word-wrap: break-word;
  }
  .logo__img {
      width: 57px;
      height: 56px;
  }
  

.menu__hamburger {
     
    position: relative;
    cursor: pointer;
    display: none;    
 }  
 .menu__toggle {
  
    display: block;
    position: absolute; 
    width: 21px;
    height: 20px;
    background-image: url(../img/umbrella.png);
    background-position: -278px -22px;
    top:20px;
    left:290px;
    user-select: none;

}
.menu__navigation {
    background-color: rgb(255, 255, 255);
    box-shadow: inset 0 1px 0 0 rgba(236, 236, 236, 0.5);    
}
.menu__specifications {
    display: block;
    margin-left: 32px;
    width: 300px;
    background: #ededed;
    list-style-type: none;
    text-decoration: none;
    color:rgba(0, 0, 0, 0.8);
    font-size: 18px; 
    
    padding: 16px;
     background-color: rgb(255, 255, 255);
   box-shadow: inset 0 1px 0 0 rgba(236, 236, 236, 0.5);
}

.menu__submenu {
    display: block;
    list-style-type: none;
    text-decoration: none;
    color:#000;
    font-size: 18px;
    color:rgba(0, 0, 0, 0.8);
    padding: 16px;
    margin-left: 56px;
     background-color: rgb(255, 255, 255); 
    box-shadow: inset 0 1px 0 0 rgba(236, 236, 236, 0.5); 
}

.menu__status{ 
    font-size: 18px;
    display: block;
    padding: 16px; 
    text-decoration: none; 
    color: #fff; 
    background-color: #a0d468;
   
}
.menu__status--empty::before {
    content:'';
    vertical-align:bottom;
    line-height:0;
    display: inline-block;
    width: 21px;
    height: 19px;
    background-image: url(../img/umbrella.png);
    background-position: -21px -524px;
    margin-right: 14px;
}
.menu__specifications--search::before {
    content:'';
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url(../img/umbrella.png);
    background-position: -23px -468px;
    position: absolute;
    vertical-align:bottom;
    left:8px;   
}

/* header  */

 /* main */
.main {
    display: flex;   
    flex-wrap:wrap;
    background-color: #f0f2f5;
   
    
}
                                    /* slider */
.slide-bar{
   
    margin: 24px 4px 4px;
    width: 100%;
    height: 130px;
    background-color:#7feec8;
    object-fit: cover;
    position: relative;
    
}


.slide-bar__picture {
    float:left;
    width: 100%;
    height: 100%;
    border-radius: 4px;

}
.slide-bar__picture::after {
    clear: both;
}
.slide-bar__info-container {
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 12px;
    position: absolute;
    
}
.slide-bar__title-container {
  
    width: 96px;
    height: 64px;
    flex-shrink: 1;
}
.slide-bar__title-items {
    list-style-type: none;
    font-size: 18px;
    font-weight: 700;
    color:rgba(0, 0, 0, 0.85);
}
.slide-bar__more-info {
    
    justify-content: center;
    display: inline-flex;
    align-items: center;
    width: 86px;
    height: 21px;
    font-size: 12px;
    font-weight: 400;
    color:#333333;
    text-decoration: none; 
    background-color: #e5fcf4;   
    border-radius:  2px; 
    
 
}
.slide-bar__btn-nav {
    border: #f0f2f5;
    background-color: #f0f2f5;
    display:flex;
    justify-content: center;
    margin: 0 auto;
    
  }
  .btn-nav {
    border-radius:50%;
    width: 0.5rem;
    height: 0.5rem;
    margin:4px;
  }
  .btn-nav--one {
    background-color: #a0d468;
  }
  .btn-nav--two{
    background-color:#b1b2b4;
  }
  .btn-nav--tree{
    background-color: #b1b2b4;
  }
                                        /* slider */
.products {
    background-color:#fff;
    margin: 48px 4px;
    border-radius:5px; 
  
}
.products__container {
    height: auto;
    width: auto;
    display:flex;
    flex-direction: column;
    padding: 8px;
    
    

}
.products__img {
    overflow: hidden; 
    height: 125px; 
    width: 135px;  
    flex-grow:1;
    
}


.products__title {
    flex-grow:2;
    font-size: 18px;
    color:rgba(0, 0, 0, 0.85);
    font-weight: 400;
    text-align: center;   
    
}
.products__container-category { 
    list-style-type:none;
    font-size: 14px;
    color:#666769;
    flex-grow: 2;
    align-self: center;
    
}
.products__category {
    height: 20px;
    width: 87px;
    
}

.products__container-price {
    flex-grow:1;
    list-style-type:none;
    font-size: 24px;
    color:#a0d468;
    align-self: center;
}
.products__btn {
    display: block;
    font-size: 14px;
    border-radius: 0 0  5px 5px; 
    padding: 8px; 
    text-decoration: none; /* Убираем подчёркивание */
    color: #fff; /* Цвет текста */
    background-color: #aab2bd;   
    text-align: center;
}

.products__btn--buy::before {
    vertical-align:top;
    content:'';
    display: inline-block;
    width: 21px;
    height: 19px;
    background-image: url(../img/umbrella.png);
    background-position: -35px -928px;
    margin-right: 8px;
}
 

/* article */

.product-news {
    display: flex;
    flex-direction: column;
    align-content:flex-end;
    align-items: stretch;
    width: 100%;
    border-radius:5px; 
    box-shadow: 0px 2px 0px 0px rgba(1, 1, 1, 0.06); 
    background-color: #fff;
    height: 10.625rem;
    padding-left:18px;
    padding-right: 18px;
    padding-bottom: 18px;  
    margin: 8px;
    margin-bottom:42px; 
     
}
 .product-news__author {
    align-self: flex-end;
    flex-grow: 1;
    
}

.product-news__img {
    /* background-position: center center; */
    border-radius: 50%;  
    margin-top: -30px;
    width: 80px;
    /* height: 80px; */
    object-fit: none;
  
    
}

.product-news__icons {
    position: relative; 
    bottom:10px;
    display:inline-block;
    font-size:12px;
    color: rgba(170, 178, 189, 0.6);
    
      
}

.product-news__icons--time::before{
    position: relative;
    top:3px;
    content:'';
    display: inline-block;
    width: 21px;
    height: 19px;
    background-image: url(../img/umbrella.png);
    background-position: -200px -1054px;  
}
.product-news__icons--msg::before {
    position: relative;
    top:3px;
    content:'';
    display: inline-block;
    width: 21px;
    height: 19px;
    background-image: url(../img/umbrella.png);
    background-position: -263px -1053px;     
}


.product-news__title-content {
    font-size: 18px;
    font-weight: 700;
    color:#333366;
    align-self: center;
    flex-grow: 1;
}

.product-news__text-content {
    font-size: 14px;
    color:#aab2bd;
    flex-grow: 1;
    color: rgb(170, 178, 189);
      
      
}
/* article */   
                            /* subscription */
.subscription {
    height: 100%;
    width: 100%;
    margin: 8px;
    background-color: #fff;
    border:4px solid white;
    box-shadow: inset 0px 2px 2px 0px rgba(213, 214, 216, 0.35); 
    border:4px dashed;
    border-image: url(../img/border.png)5 round;
    border-radius: 4px;
 
}

.subscription__cover {
    height: auto;
    padding: 26px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    
}
.subscription__title {
    flex-grow:1;
    font-size: 1.25em;
    font-weight: 400;
    color:#434a54;
}
.subscription__content {
    flex-grow:2;
    font-size: 0.875em;
    font-weight: 400;
    color:#aab2bd;
}
.subscription__form {
    flex-grow:1;
}
.subscription__email {
    opacity: 0.45;
    border-width: 1px;
    border:1px solid;
    font-size: 14px;
    color:#aab2bd;
    border-radius: 2px; 
    padding: 8px; 
    display:block;
    width: 100%;
    text-align: center;
    font-weight: 700;
         
}
  
.subscription__btn {
    margin-top: 4px;
    border: 1px solid #aab2bd;
    font-size: 14px;
    border-radius:2px; 
    padding: 8px;
    text-transform :uppercase;
    display: block;
    width: 100%;
    text-align: center;
    background-color: #aab2bd;
    color: #fff;
    font-weight: 700;
}

  .footer {
      margin-top: 32px;
      background-color: #e6e9ed;
      padding: 26px 13px;
  }
  .footer__text {
    font-size: 13px;
    font-weight: 400;
    color:#434a54;
  }
  .footer__link {
      color:#434a54;

  }
  /* subscription */
/* main*/