html {  
    box-sizing: border-box; 
   }

*, ::before, ::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
   }

   html, body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    width: 100%;
}
  .wrapper {
      width: 325px;
      background-color: #f0f2f5;
  }



/* header  */
  .menu {
    background-color: #fff;
    
  }
  .logo {
      display:flex;
      align-items: center;   
      text-decoration: none;
      padding: 8px; 
  }
  .logo__title {
      width: 80px;
      font-size: 16px;
      text-transform: uppercase;
      font-weight: 700;
      color:#8cc152;
      font-style:italic;
      word-wrap: break-word;
  }
  .logo__img {
      width: 57px;
      height: 56px;
  }
  

.menu__hamburger {
     
    position: relative;
    cursor: pointer;
    display: none;    
 }  
 .menu__toggle {
  
    display: block;
    position: absolute; 
    width: 21px;
    height: 20px;
    background-image: url(../img/umbrella.png);
    background-position: -278px -22px;
    top:20px;
    left:290px;
    user-select: none;

}
.menu__navigation {
    background-color: rgb(255, 255, 255);
    box-shadow: inset 0 1px 0 0 rgba(236, 236, 236, 0.5);    
}
.menu__specifications {
    display: block;
    margin-left: 32px;
    width: 300px;
    background: #ededed;
    list-style-type: none;
    text-decoration: none;
    color:#000;
    font-size: 18px; 
    padding: 16px;
     background-color: rgb(255, 255, 255);
   box-shadow: inset 0 1px 0 0 rgba(236, 236, 236, 0.5);
}

.menu__submenu {
    display: block;
    list-style-type: none;
    text-decoration: none;
    color:#000;
    font-size: 18px;
    padding: 16px;
    margin-left: 56px;
     background-color: rgb(255, 255, 255); 
    box-shadow: inset 0 1px 0 0 rgba(236, 236, 236, 0.5); 
}

.menu__status{ 
    font-size: 18px;
    display: block;
    padding: 16px; 
    text-decoration: none; 
    color: #fff; 
    background-color: #a0d468;
   
}
.menu__status--empty::before {
    content:'';
    vertical-align:bottom;
    line-height:0;
    display: inline-block;
    width: 21px;
    height: 19px;
    background-image: url(../img/umbrella.png);
    background-position: -21px -524px;
    margin-right: 14px;
}
.menu__specifications--search::before {
    content:'';
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url(../img/umbrella.png);
    background-position: -23px -468px;
    position: absolute;
    vertical-align:bottom;
    left:8px;   
}

/* header  */

 /* main */
.main {
    display: flex;   
    flex-wrap:wrap;
    margin-top: 8px;
  
}

.products {
    background-color:#fff;
    margin: 48px 4px;
    border-radius:5px 5px  0 0; 
}
.products__container {
    height: 300px;
    width: 150px;
    display:flex;
    flex-direction: column;
    padding: 8px;
    margin-right: 2px;
    margin-left: 2px;
    

}
.products__img {
    overflow: hidden; 
    height: 125px; 
    width: 135px;  
    flex-grow:1;
    
}


.products__title {
    flex-grow:2;
    font-size: 18px;
    font-weight: 400;
    color:#010101;
    text-align: center;   
    
}
.products__container-category { 
    list-style-type:none;
    font-size: 14px;
    color:#666769;
    flex-grow: 2;
    align-self: center;
    
}
.products__category {
    height: 20px;
    width: 87px;
    
}

.products__container-price {
    flex-grow:1;
    list-style-type:none;
    font-size: 24px;
    color:#a0d468;
    align-self: center;
}
.products__btn {
    display: block;
    font-size: 14px;
    border-radius: 0 0  5px 5px; 
    padding: 8px; 
    text-decoration: none; /* Убираем подчёркивание */
    color: #fff; /* Цвет текста */
    background-color: #aab2bd;   
    text-align: center;
}

.products__btn--buy::before {
    vertical-align:top;
    content:'';
    display: inline-block;
    width: 21px;
    height: 19px;
    background-image: url(../img/umbrella.png);
    background-position: -35px -928px;
    margin-right: 8px;
}
 

/* article */

.product-news {
    display: flex;
    flex-direction: column;
    align-content:flex-end;
    align-items: stretch;
    
    border-radius:5px; 
    box-shadow: 0px 2px 0px 0px rgba(1, 1, 1, 0.06); 
    background-color: #fff;
    height: 170px;
    padding-left:18px;
    padding-right: 18px;
    padding-bottom: 18px;  
    margin: 8px;
     
}
.product-news__author {
    align-self: flex-end;
    flex-grow: 1;
    
}

.product-news__img {
    border-radius: 40px;  
    margin-top: -30px;
    
  
}

.product-news__icons {
    position: relative; 
    bottom:10px;
    display:inline-block;
    font-size:12px;
    color:#aab2bd;

}

.product-news__icons--time::before{
    position: relative;
    top:3px;
    content:'';
    display: inline-block;
    width: 21px;
    height: 19px;
    background-image: url(../img/umbrella.png);
    background-position: -200px -1054px;  
}
.product-news__icons--msg::before {
    position: relative;
    top:3px;
    content:'';
    display: inline-block;
    width: 21px;
    height: 19px;
    background-image: url(../img/umbrella.png);
    background-position: -263px -1053px;     
}


.product-news__title-content {
    font-size: 18px;
    font-weight: 700;
    color:#434a54;
    align-self: center;
    flex-grow: 1;
}

.product-news__text-content {
    font-size: 14px;
    color:#aab2bd;
    flex-grow: 1;

}
/* article */
/* main*/