
   html {  
    box-sizing: border-box; 
   }
   *, ::before, ::after {
    box-sizing: inherit;
   }
   body {   
    margin:0;
}
   .wrapper {
    width: 960px;
    margin:0 auto;       
}
                                                        /*header*/
                                                     
 header img  {
        float:left;
       height: 140px;
       border:1px solid black;
       border-radius: 100px;
    }
    .logo {
        float:left;
    }
    header  h1 {
        padding-top:35px;
        padding-left: 16px;
        float: left;
    }
    header ul {       
        text-decoration: none;
        float: right;
    }
    header  li {   
        float: left;
        list-style: none;
        padding-left:25px; /*растояние между пунктов меню*/     
    }
    header  a {

        display: block;
        color: #000;
        text-decoration: none;
    }
   header  a:hover{
        color: #fff;
        cursor: pointer;
    }
    nav {  
   padding-top: 50px; 
   padding-right: 20px;
    }
header{
    float: left;
    width: 960px; 
    background-color: #ff7100;  
    padding: 16px 24px;
}

                    /*header*/
main {
    float: left;
    margin-top:24px;
    width: 700px;
}
article {
    padding: 16px 24px;
    background-color: #fff468;
    margin-bottom: 24px;
    padding-left:180px;  
}
article img {
    width: 139px;
    margin-left: -155px;
    float: left;
}
article h2 {
    margin:0;
    line-height:0.8;
}

article a {
    color: #035dee;
    cursor: pointer;
    text-decoration: none;   
}
article a:hover{
    color:#fff;
}
.clear::after {
	content: "";
	display: block;
	clear: both;
}
aside {
    margin-top:24px;
    margin-left:24px;
    width: 236px;
    float: left;
    background-color: #3cb878;
    padding-bottom: 950px; 
    padding-left:24px;
     margin-bottom: 24px;
}
aside ul {
  
    padding-left: 20px;
}
aside p {
    margin-bottom: -10px;
}

footer {
    padding: 16px 24px;
    background-color: #cfc9dd;
    clear: both;
}
footer p {
    margin:  0;
}