
   html {  
    box-sizing: border-box; 
   }
   *, ::before, ::after {
    box-sizing: inherit;
   }
   body {
    
    margin:0;
}
   .wrapper {
    
    width: 960px;
    margin:0 auto;     
   
}
                                                        /*header*/
   header img  {
       float:left;
       margin:16px  24px;
       height: 140px;
       border:1px solid black;
       border-radius: 100px;
    }
    header  h1 {
        float: left;
        padding-top:55px;
        margin-right: 16px;
     
    }
    header ul {
        text-decoration: none;
        float: right;
    }
    header  li {
        float:left;
        list-style: none;
        padding-left:25px; /*растояние между пунктов меню*/     
    }
    header  a {
        display: block;
        color: #000;
        text-decoration: none;
    }
   header  a:hover{
        color: #fff;
        cursor: pointer;
    }
    
    nav {  
        float: left;
        padding-top: 75px; 
        /* width: 650px;     */
        /* padding-top: 16px;  */
        padding-right: 50px;
    }
header{
    float: left;
    width: 960px; 
    background-color: #ff7100;  
}

                    /*header*/
main {
    float: left;
    margin-top:24px;
    width: 700px;
    

}
article {
    float: left;
    padding: 16px 24px;
    background-color: #fff468;
    margin-bottom: 24px;
   
  
    
}
article img {
float: left;
margin-bottom: -190px;


}
article h2 {
    margin: 0 20px;
    margin-left:14px;
    float: left;
    line-height:0.8;
}

article a {
    
    font-size: 22px; 
    color: #035dee;
    cursor: pointer;
    text-decoration: none;
    
}

article a:hover{
    color:#fff;
}


article p {
    float: left;
    padding-left:165px;
}

aside {
    margin-top:24px;
    margin-left:24px;
    width: 236px;
    float: left;
    background-color: #3cb878;
    padding-bottom: 950px; 
    padding-left:24px;
     margin-bottom: 24px;
}
aside ul {
  
    padding-left: 20px;
}
aside p {
    margin-bottom: -10px;
}

footer {
    padding: 16px 24px;
    background-color: #cfc9dd;
    clear: both;
}
footer p {
    margin:  0;
}