@media(max-width:1900px){
  .img-side__content {
    padding: 50px 280px 50px 110px;
  }
}

  
@media(max-width:1700px){
  .img-side__content {
    padding: 50px 150px 50px 110px;
  }
}

@media(max-width:1615px){
  .container{
    max-width: 1600px;
    padding-left: 100px;
    padding-right: 100px;
  }
  .header__wrapper{
    padding-top: 50px;
  }
  .header__picture-man{
    max-width: 360px;
    max-height: 550px;
  }
  .img-side__content {
    padding: 40px 70px 40px 40px;
  }
  .img-side__picture{
    max-width: 660px;
    max-height: 512px;
  }
}
@media(max-width:1435px){
}
@media(max-width:1199px){
  .container{
    max-width: 1199px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .header{
    background-attachment: scroll;
  }
  .header__wrapper{
    padding-top: 40px;
  }
  .header__picture-man{
    max-width: 270px;
    max-height: 450px;
  }
  .logo{
    width: 50px;
    height: 64px;
  }
  .img-side__picture{
    max-width: 384px;
    max-height: 443px;
  }
  .header__logo,
  .testimonial__title{
    margin-bottom: 20px;
  }
  .clients__inner{
    padding: 0;
  }
  .header__title,
  .features__title
  .video__title,
  .testimonial__title {
    font-size: 32px;
    line-height: 40px;
  }
  .video__title{
    margin-bottom: 20px;
  }
  .img-side__title{
    font-size: 25px;
    line-height: 35px;
  }
  .img-side__info p{
    font-size: 14px;
    line-height: 20px;
  }
  .header__inner{
    max-width: 420px;
  }
  .header__info-content{
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 24px;
  }
  .header__btn a{
    font-size: 12px;
  }

  .features__info p{
    font-size: 14px;
    line-height: 22px;
  }
  .video__iframe{
    max-width: 570px;
    max-height: 320px;
  }
  .img-side__content{
    padding-left: 40px;
    padding-right: 40px;
  }
  .slick-prev {
    left: -30px;
  }
  .slick-next {
    right: -30px;
  }
  .slider__item{
    max-width: 265px;
   }
   .video,
   .img-side,
   .form{
     padding: 40px 0;
   }
   .form__title{
     font-size: 30px;
     line-height: 40px;
   }
   
}
@media(max-width:855px){
  .features__img {
    margin-top: -10px;
    max-width: 410px;
  }
  .form__inner{
    width: auto;
  }
  .form__inner label p,
  .form__info,
  .form__textarea,
  .custom-checkbox + label,
  .copyright__inner {
    font-size: 16px;
  }
  .form__title {
    font-size: 25px;
    max-width: 330px;
  }
  .form__inner label p {
    margin-top: 20px;
  }
  .form__summ-menu{
    display: block;
    text-align: center;
  }
  .custom-checkbox + label{
    margin-bottom: 28px;
  }
  .form__textarea{
    height: 140px;
  }
  .form {
    &_.container{
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}
@media(max-width:767px){
  .container{
    max-width: 767px;
  }
  .header__wrapper{
    padding-top: 20px;
    flex-direction: column;
  }
  .icons__box{
    flex-direction: column;
  }
.icons__content-info{
  margin-bottom: 40px;
}
  .header__btn{
    margin-bottom: 20px;
  }
  .features__inner{
    flex-direction: column;
    padding: 40px 0;
  }
 
  .clients__inner{
    justify-content: center;
  }
  .clients__inner{
    padding: 0;
  }
  .features__img{
    margin-top: 20px;
    margin-left: -18px;
  }
  .features__info p {
    margin-top: 20px;
  }
 .slider__item {
   max-width: 306px;
 }
  .features__info{
    max-width: 390px;
  }
  .features__title,
  .video__title,
  .testimonial__title {
    font-size: 25px;
    line-height: 35px;
  }
  .testimonial__title {
    margin-bottom: 0;
  }
  .video__iframe{
    max-width:400px;
    max-height:245px;
  }
  .img-side__wrapper{
    flex-direction: column;
  }
  .img-side__picture{
    display: inline-block;
     min-width: 100%;
  }
  .icons__title{
    font-size: 20px;
    line-height: 30px;
  }
 
  
}
@media(max-width:620px){
  .features__img{
    max-width: 340px;
  }
  .video__iframe{
    max-width:340px;
    max-height:215px;
  }
}
  @media(max-width:480px){
    .features__info{
      max-width: 240px;
    }
    .video__iframe{
      max-width:320px;
      max-height:215px;
  }
  .icons__content-info,
  .slider__inner{
    font-size: 14px;
  }
}
  
@media(max-width:350px){
  .container{
    max-width: 320px;
  }
  .features__img{
    max-width: 260px;
  }
  .header__picture-man{
    max-width: 176px;
    max-height: 269px;
  }
  .video__iframe{
    max-width:260px;
}
.slick-prev {
  left: -20px;
}
.slick-next {
  right: -20px;
}
}