*,
::before,
::after {
  box-sizing: border-box;
}
// arrays
$top-color:#2D2D2D;
$second-color:#ffffff;
$third-color:#FDB913;
$fourth-color:#707070;
$fifth-color:#446A82;
// arrays

body {
  font-family: 'Open+Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 25px;
  color: $top-color;
}
a {
  color:inherit;
  text-decoration: none;
  outline: none;
}
ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}
.header{
  background-image: url(../img/bgc.jpg);
  background-attachment: fixed;
  scroll-behavior: smooth;
}
.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 400px;
}
.header__wrapper {
  padding-top: 120px;
  display: flex;
  justify-content: space-between;
  color:$second-color;
}
.header__inner{
  max-width: 550px;
}
.header__logo{
  margin-bottom: 40px;
}
.logo{
  width: 57px;
  height: 72px;
}
.header__title {
  font-size: 45px;
  line-height: 55px;
  margin-bottom: 20px;
}
.header__info-content {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 30px;
}
.header__btn a{
  display: inline-block;
  border-radius: 20px;
  background-color: $third-color;
  padding: 15px 30px;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  box-shadow: 0 5px 20px $fourth-color;
}
.features {
  background: #F8F8F8;
  color:$top-color;
}
.features__inner {
  padding: 65px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.features__info{
  max-width: 550px;
}
.features__info p{
  margin-top: 30px;
  font-size: 16px;
}
.features__title {
  font-size: 35px;
  line-height: 45px;

}
.features__img {
  margin-top:-20px;
  margin-left: 50px;
  max-width: 475px;
}
.video {
  text-align: center;
  padding: 65px 0;
  background-color: #fff;
}

.video__title {
  font-size: 35px;
  line-height: 35px;
  margin-bottom: 46px;
}
.video__iframe{
  width: 920px;
  height: 500px;
} 
.icons__box {
  display: flex;
}

.icons__item {
  max-width: 350px;
  margin-right: 30px;
}

.icons__picture {
  margin-bottom: 18px;
  cursor: pointer;


}
.icons__picture img{
  height: 64px;
}
//animation
.icons__picture:hover{
  -webkit-animation: swing 0.6s ease;
  animation: swing 0.6s ease;
   -webkit-animation-iteration-count: 1;
   animation-iteration-count: 1;
}
@keyframes swing {
  15% {
    -webkit-transform: translateX(9px);
    transform: translateX(9px);
  }
  30% {
    -webkit-transform: translateX(-9px);
    transform: translateX(-9px);
  }
  40% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  50% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  65% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
.logo-animation{
  -moz-transition: all 1s linear;
  -o-transition: all 1s linear;
  -webkit-transition: all 1s linear;
    &:hover{
      transform: scale(1.1)
    }
  cursor: pointer;
}

//animation

.icons__title {
  color: $fourth-color;
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 20px;
}
.img-side {
 color:$second-color;
  padding: 65px 0;
}
.img-side__wrapper {
  background-color:$third-color;
  display: flex;
}
.img-side__picture{
  max-width: 960px;
  max-height: 520px;
}
.img-side__content {
  padding: 50px 450px 50px 110px;
 
}
.img-side__title {
  font-size: 35px;
  line-height: 45px;
}
.img-side__info p{
  margin-top: 25px;
}
.testimonial__title{
  font-size: 35px;
  line-height: 55px;
  text-align: center;
  margin-bottom: 60px;
}
.slick-slider{
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider__item{
  max-width:285px;
  padding: 20px;
}

.slider__item-author p{
  margin-top: 25px;
  font-size: 20px;
  font-weight: 700;
}
.slick-btn{
  width: 20px;
  height:50px;
  outline: none;
  border:none;
  background:transparent;
  cursor: pointer;
  z-index: 800;
}
.slick-prev{
  position: absolute;
  left: -50px;
  background-image:(url(../img/arrow.svg));
  background-position:center;
  background-size: cover;
}
.slick-next{
  position: absolute;
  right: -50px;
  background-image:(url(../img/slider-arrow.svg));
  background-position:center;
  background-size: cover;
}
.clients__inner{
  padding: 65px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
    img{
     padding: 30px;
    }
}
.form{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $fifth-color;
  color:#fff;
  padding: 60px 0 50px;
}
.form__title{
  text-align: center;
  font-size: 35px;
  max-width: 590px;
  margin-bottom: 10px;
  line-height: 45px;
}
.form__inner{
  display: flex;
  flex-direction: column;
  width: 540px;
  font-size: 20px;
    label p{
      text-transform: uppercase;
      margin-top: 40px;
      margin-bottom: 20px;
    }
  }
    .form__info{
      color:$fifth-color;
      padding: 10px 10px;
      width: 100%;
      border:none;
      border-radius: 2px;
      font-size: 20px;
    }
.form__textarea{
  color:$fifth-color;
  height: 110px;
  padding: 15px 10px;
  border:none;
  border-radius: 2px;
  margin: 40px 0;
  font-size: 20px;
  line-height: 26px;
}

.form__summ-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form__btn{
  margin-left: auto;
  text-transform: uppercase;
  border:none;
  border-radius: 40px;
  padding: 16px 50px;
  background-color: $third-color;
  color:$second-color;
  font-size: 14px;
  font-weight: 700;
  box-shadow: 0 5px 20px #5A4209;
}
 /* для элемента input c type="checkbox" */
 .custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

/* для элемента label, связанного с .custom-checkbox */
.custom-checkbox+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  font-size: 20px;
}

/* создание в label псевдоэлемента before со следующими стилями */
.custom-checkbox+label::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

/* стили при наведении курсора на checkbox */
.custom-checkbox:not(:disabled):not(:checked)+label:hover::before {
  border-color: #b3d7ff;
}

/* стили для активного чекбокса (при нажатии на него) */
.custom-checkbox:not(:disabled):active+label::before {
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}

/* стили для чекбокса, находящегося в фокусе */
.custom-checkbox:focus+label::before {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.custom-checkbox:focus:not(:checked)+label::before {
  border-color: #80bdff;
}

/* стили для чекбокса, находящегося в состоянии checked */
.custom-checkbox:checked+label::before {
  border-color: #fff;
  background-color: #fff;
  background-image: url(../img/check.svg);
}

/* стили для чекбокса, находящегося в состоянии disabled */
.custom-checkbox:disabled+label::before {
  background-color: #e9ecef;
}



.copyright__inner{
  padding: 50px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright__logo {
  margin-right: 35px;
}

