@media (max-width: 1900px) {
  /* line 2, ../webteam/assets/styles/scss/media.scss */
  .img-side__content {
    padding: 50px 280px 50px 110px;
  }
}

@media (max-width: 1700px) {
  /* line 9, ../webteam/assets/styles/scss/media.scss */
  .img-side__content {
    padding: 50px 150px 50px 110px;
  }
}

@media (max-width: 1615px) {
  /* line 15, ../webteam/assets/styles/scss/media.scss */
  .container {
    max-width: 1600px;
    padding-left: 100px;
    padding-right: 100px;
  }
  /* line 20, ../webteam/assets/styles/scss/media.scss */
  .header__wrapper {
    padding-top: 50px;
  }
  /* line 23, ../webteam/assets/styles/scss/media.scss */
  .header__picture-man {
    max-width: 360px;
    max-height: 550px;
  }
  /* line 27, ../webteam/assets/styles/scss/media.scss */
  .img-side__content {
    padding: 40px 70px 40px 40px;
  }
  /* line 30, ../webteam/assets/styles/scss/media.scss */
  .img-side__picture {
    max-width: 660px;
    max-height: 512px;
  }
}

@media (max-width: 1199px) {
  /* line 38, ../webteam/assets/styles/scss/media.scss */
  .container {
    max-width: 1199px;
    padding-left: 40px;
    padding-right: 40px;
  }
  /* line 43, ../webteam/assets/styles/scss/media.scss */
  .header {
    background-attachment: scroll;
  }
  /* line 46, ../webteam/assets/styles/scss/media.scss */
  .header__wrapper {
    padding-top: 40px;
  }
  /* line 49, ../webteam/assets/styles/scss/media.scss */
  .header__picture-man {
    max-width: 270px;
    max-height: 450px;
  }
  /* line 53, ../webteam/assets/styles/scss/media.scss */
  .logo {
    width: 50px;
    height: 64px;
  }
  /* line 57, ../webteam/assets/styles/scss/media.scss */
  .img-side__picture {
    max-width: 384px;
    max-height: 443px;
  }
  /* line 61, ../webteam/assets/styles/scss/media.scss */
  .header__logo,
  .testimonial__title {
    margin-bottom: 20px;
  }
  /* line 65, ../webteam/assets/styles/scss/media.scss */
  .clients__inner {
    padding: 0;
  }
  /* line 68, ../webteam/assets/styles/scss/media.scss */
  .header__title,
  .features__title
.video__title,
  .testimonial__title {
    font-size: 32px;
    line-height: 40px;
  }
  /* line 75, ../webteam/assets/styles/scss/media.scss */
  .video__title {
    margin-bottom: 20px;
  }
  /* line 78, ../webteam/assets/styles/scss/media.scss */
  .img-side__title {
    font-size: 25px;
    line-height: 35px;
  }
  /* line 82, ../webteam/assets/styles/scss/media.scss */
  .img-side__info p {
    font-size: 14px;
    line-height: 20px;
  }
  /* line 86, ../webteam/assets/styles/scss/media.scss */
  .header__inner {
    max-width: 420px;
  }
  /* line 89, ../webteam/assets/styles/scss/media.scss */
  .header__info-content {
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 24px;
  }
  /* line 94, ../webteam/assets/styles/scss/media.scss */
  .header__btn a {
    font-size: 12px;
  }
  /* line 98, ../webteam/assets/styles/scss/media.scss */
  .features__info p {
    font-size: 14px;
    line-height: 22px;
  }
  /* line 102, ../webteam/assets/styles/scss/media.scss */
  .video__iframe {
    max-width: 570px;
    max-height: 320px;
  }
  /* line 106, ../webteam/assets/styles/scss/media.scss */
  .img-side__content {
    padding-left: 40px;
    padding-right: 40px;
  }
  /* line 110, ../webteam/assets/styles/scss/media.scss */
  .slick-prev {
    left: -30px;
  }
  /* line 113, ../webteam/assets/styles/scss/media.scss */
  .slick-next {
    right: -30px;
  }
  /* line 116, ../webteam/assets/styles/scss/media.scss */
  .slider__item {
    max-width: 265px;
  }
  /* line 119, ../webteam/assets/styles/scss/media.scss */
  .video,
  .img-side,
  .form {
    padding: 40px 0;
  }
  /* line 124, ../webteam/assets/styles/scss/media.scss */
  .form__title {
    font-size: 30px;
    line-height: 40px;
  }
}

@media (max-width: 855px) {
  /* line 131, ../webteam/assets/styles/scss/media.scss */
  .features__img {
    margin-top: -10px;
    max-width: 410px;
  }
  /* line 135, ../webteam/assets/styles/scss/media.scss */
  .form__inner {
    width: auto;
  }
  /* line 138, ../webteam/assets/styles/scss/media.scss */
  .form__inner label p,
  .form__info,
  .form__textarea,
  .custom-checkbox + label,
  .copyright__inner {
    font-size: 16px;
  }
  /* line 145, ../webteam/assets/styles/scss/media.scss */
  .form__title {
    font-size: 25px;
    max-width: 330px;
  }
  /* line 149, ../webteam/assets/styles/scss/media.scss */
  .form__inner label p {
    margin-top: 20px;
  }
  /* line 152, ../webteam/assets/styles/scss/media.scss */
  .form__summ-menu {
    display: block;
    text-align: center;
  }
  /* line 156, ../webteam/assets/styles/scss/media.scss */
  .custom-checkbox + label {
    margin-bottom: 28px;
  }
  /* line 159, ../webteam/assets/styles/scss/media.scss */
  .form__textarea {
    height: 140px;
  }
  /* line 163, ../webteam/assets/styles/scss/media.scss */
  .form_.container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 767px) {
  /* line 170, ../webteam/assets/styles/scss/media.scss */
  .container {
    max-width: 767px;
  }
  /* line 173, ../webteam/assets/styles/scss/media.scss */
  .header__wrapper {
    padding-top: 20px;
    flex-direction: column;
  }
  /* line 177, ../webteam/assets/styles/scss/media.scss */
  .icons__box {
    flex-direction: column;
  }
  /* line 180, ../webteam/assets/styles/scss/media.scss */
  .icons__content-info {
    margin-bottom: 40px;
  }
  /* line 183, ../webteam/assets/styles/scss/media.scss */
  .header__btn {
    margin-bottom: 20px;
  }
  /* line 186, ../webteam/assets/styles/scss/media.scss */
  .features__inner {
    flex-direction: column;
    padding: 40px 0;
  }
  /* line 191, ../webteam/assets/styles/scss/media.scss */
  .clients__inner {
    justify-content: center;
  }
  /* line 194, ../webteam/assets/styles/scss/media.scss */
  .clients__inner {
    padding: 0;
  }
  /* line 197, ../webteam/assets/styles/scss/media.scss */
  .features__img {
    margin-top: 20px;
    margin-left: -18px;
  }
  /* line 201, ../webteam/assets/styles/scss/media.scss */
  .features__info p {
    margin-top: 20px;
  }
  /* line 204, ../webteam/assets/styles/scss/media.scss */
  .slider__item {
    max-width: 306px;
  }
  /* line 207, ../webteam/assets/styles/scss/media.scss */
  .features__info {
    max-width: 390px;
  }
  /* line 210, ../webteam/assets/styles/scss/media.scss */
  .features__title,
  .video__title,
  .testimonial__title {
    font-size: 25px;
    line-height: 35px;
  }
  /* line 216, ../webteam/assets/styles/scss/media.scss */
  .testimonial__title {
    margin-bottom: 0;
  }
  /* line 219, ../webteam/assets/styles/scss/media.scss */
  .video__iframe {
    max-width: 400px;
    max-height: 245px;
  }
  /* line 223, ../webteam/assets/styles/scss/media.scss */
  .img-side__wrapper {
    flex-direction: column;
  }
  /* line 226, ../webteam/assets/styles/scss/media.scss */
  .img-side__picture {
    display: inline-block;
    min-width: 100%;
  }
  /* line 230, ../webteam/assets/styles/scss/media.scss */
  .icons__title {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (max-width: 620px) {
  /* line 237, ../webteam/assets/styles/scss/media.scss */
  .features__img {
    max-width: 340px;
  }
  /* line 240, ../webteam/assets/styles/scss/media.scss */
  .video__iframe {
    max-width: 340px;
    max-height: 215px;
  }
}

@media (max-width: 480px) {
  /* line 246, ../webteam/assets/styles/scss/media.scss */
  .features__info {
    max-width: 240px;
  }
  /* line 249, ../webteam/assets/styles/scss/media.scss */
  .video__iframe {
    max-width: 320px;
    max-height: 215px;
  }
  /* line 253, ../webteam/assets/styles/scss/media.scss */
  .icons__content-info,
  .slider__inner {
    font-size: 14px;
  }
}

@media (max-width: 410px) {
  /* line 259, ../webteam/assets/styles/scss/media.scss */
  .video__iframe {
    max-width: 270px;
    max-height: 185px;
  }
}

@media (max-width: 350px) {
  /* line 265, ../webteam/assets/styles/scss/media.scss */
  .container {
    max-width: 320px;
  }
  /* line 268, ../webteam/assets/styles/scss/media.scss */
  .features__img {
    max-width: 260px;
  }
  /* line 271, ../webteam/assets/styles/scss/media.scss */
  .header__picture-man {
    max-width: 176px;
    max-height: 269px;
  }
  /* line 275, ../webteam/assets/styles/scss/media.scss */
  .video__iframe {
    max-width: 260px;
  }
  /* line 278, ../webteam/assets/styles/scss/media.scss */
  .slick-prev {
    left: -20px;
  }
  /* line 281, ../webteam/assets/styles/scss/media.scss */
  .slick-next {
    right: -20px;
  }
}

/*# sourceMappingURL=media.css.map */